<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>CookEat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div #map id="map"></div>
    <div text-center *ngIf="photo">
        <img [src]="photo">
        <div *ngIf="position && location">
            <span>Lokalizacja: {{ location }} ({{ position.coords.latitude }}/{{ position.coords.longitude }})</span>
            <br>
            <ion-button (click)="onSave()">Zapisz</ion-button>
        </div>
    </div>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
