<ion-app>
    <ion-menu side="start">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title *ngIf="user">Witaj {{ user.first_name }}!</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item lines="none" (click)="onLogout()">
                        <ion-icon name="log-out" slot="start"></ion-icon>
                        <ion-label>Wyloguj</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
